body{
    background:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big{
    display: flex;
    justify-content: space evenly;
    background-color: black;
    text-align: center;
}
.big ul{
    color: rgba(242, 237, 237, 0.753);
    justify-content: space-between;
    display: flex;
    padding-left:40px;
}
.big a{
    color: white;
    text-decoration: none;
    padding: 45px;
    font-size: 29px;
    justify-content: center;
}

.big2{
    background-color: black;
    clip-path: polygon(0 0, 51% 0, 100% 0, 100% 94%, 50% 100%, 0 94%);
}
.head6{
    font-size: 20px;
    font-style:italic;
}
.head1{
    font-size: 100px;
}
.head4{
    font-size: 34px;
    color: white;
}
.s1{
    color: rgb(36, 110, 36);
}   
.s2{
    color: rgb(8, 58, 8);
}  
.s3{
    color: rgb(98, 57, 6);
}
.but{
    background-color: red;
    font-size: 20px;
    color: white;
    border-radius: 15px;
}
.big3{
    background-image: url(./images/pic3.jpg);
    height: 70%;
    clip-path: polygon(0 0, 51% 0, 100% 0, 100% 67%, 50% 100%, 0 67%);
    /* opacity: 0.9; */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* margin-top: -50px; */
    z-index: 1;
    /* color: white; */
    margin-top: -47px;
}
.img2{
    width: 50%;
    margin-left: 500px;
}
.t1{
    font-size: 37px;
}
.t2{
    font-size: 23px;
    color: rgba(60, 58, 58, 0.655);
}
.t3{
    font-size:20px;
}
.par{
 text-align: center;
    display: flex;
}
.par2{
    text-align: center;
    margin-right: 630px;
    margin-top: -30px;
}
.par3{
    background-color:rgb(216, 213, 213);
    height: 120%;
    text-align: center;
}
.img3{
    width: 30%;
    margin-top: 30px;
    clip-path: circle(50% at 50% 50%);
}
.pec{
    font-size: 20px;
}
.he1{
    font-size: 25px;
    font-weight: bold;
}
.par4{
    border: 1px solid white;
    border-radius: 15px;
    width: 20%;
    text-align: center;
    background-color: white;
    margin-left: 16%;
    margin-top: 30px;
    transition: 0.9s;
}
.img4{
 width:35%;
 margin-top: 30px;
 clip-path: circle(50% at 50% 50%);   
}
.he2{
    font-size: 26px ;
}
.par5{
 border: 1px solid white;
 border-radius: 15px;
 width: 20%;
 text-align: center;
 background-color: white;
 margin-left:41%  ;  
 margin-top: -325px; 
 transition: 0.9s;
}
.he3{
    font-size: 40px;
    font-weight: bold;
}
.par6{
    text-align: center;
    margin-top: 50px;

}
.img5{
    width:37%;
    margin-top:30px ;
    clip-path: circle(50% at 50% 50%);
}
.he4{
    font-size:26px ;
    font-weight: bold;
}
.par7{
    border: 1px solid white;
    border-radius: 15px;
    width: 20%;
    text-align: center;
    background-color:white;
    margin-left: 66%;
    margin-top: -330px;
    transition: 0.9s;
}
.img6{
    width: 30%;
    clip-path: circle(50% at 50% 50%);
    margin-top: 30px;
}
.he5{
    font-size: 27px;
    
}
.par4:hover, .par5:hover, .par7:hover{
    transform:translateY(-25px);
    background-color: black;
    color: white;
}
.par8{
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    width: 20%;
    text-align: center;
    margin-left: 16%;
    margin-top: 50px;
    transition: 0.9s;
}
.img7{
    width: 30%;
    clip-path: circle(50% at 50% 50%);
    margin-top: 30px;
}
.he6{
    font-size: 24px;
}
.par9{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #fff;
    width: 20%;
    text-align: center;
    margin-left:41%;
    margin-top: -318px;
    transition: 0.9s;
}
.par8:hover, .par9:hover, .par10:hover{
transform: translateY(-25px);
background-color: black;
color: white;
}
.img8{
    width: 30%;
    clip-path: circle(50% at 50% 50%);
    margin-top: 30px;
}
.par10{
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    width: 20%;
    text-align: center;
    margin-left: 66%;
    margin-top: -310px;
    transition: 0.9s;
}
.mbi{
    display: none;
}



@media only screen and (max-width:768px){

    .body{
        overflow-x: hidden;
    }
    .big{
        display: grid;
        justify-content: space evenly;
        background-color: black;
        text-align: center;
    }
    .big ul{
        justify-content: space-between;
    display: grid;
    padding-left:40px;
    }
    .big a{
        color:black; 
        text-decoration: none;
       padding: 45%;
        font-size: 29px;
        justify-content: center;
    } 

.par{
  display: grid;
    margin-left: -500px;
}
.img{
    width:8%;
    height: 10vh;

}
.img2{
    width: 80%;
    margin-left:170px ;
}
.par4{
    display: grid;
}
.par5{
    display: grid;
}
.big3{
    background-image: url(./images/pic3.jpg);
    height: 50%;
    width: 101%;
    clip-path: inset(0 0 6% 0);;
    /* opacity: 0.9; */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* margin-top: -50px; */
    z-index: 1;
    /* color: white; */
    margin-top: -47px;

}
.menu-border{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.menu_bar{
    position: relative;
    display: block;
    width: 50px;
    cursor: pointer;
   appearance: none;
   background: none;
   outline: none; 
    border: none;
    margin-top: -35px;
   
}
.menu_bar .bar,
.menu_bar:after,
.menu_bar:before{
    width: 30px;
    content: "";
    display: block;
    height: 2px;
    background-color: black;
    margin: 8px -10px;
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.4s;
    border-radius: 1px;
}
.menu_bar.is-active:before{
    transform:rotate(-45deg) translate(2px, -4px);

}
.menu_bar.is-active:after{
    transform:rotate(45deg) translate(9px, 8px);
    margin-top: -30px;

}
.menu_bar.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 65%;
    height: 25vh;
    background-color: aliceblue;
    z-index: 98;
    font-weight: bold;
    opacity:0.9 ;
    transition: right 0.8s ease-in-out;
    margin-top: 85px;
    border-bottom-left-radius:10px ;

}
.mobile-nav.is-active{
    left: 0;
}
.mobile-nav a{
    color: black;
    font-size:15px ;
}
.mobile-nav a:hover {
    color: green;
}
.par{
    margin-top: 10px;
}
.mbi{
margin-top: -500px;
}



}